@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  padding: 50px;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  );
  grid-gap: 1rem;
}

.image-container div:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

.first-img img,
.others-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrapper {
  margin: 0.5rem;
  cursor: pointer;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-wrapper:hover {
  opacity: 0.7;
}

.img-wrapper:hover .checkbox {
  background-color: white;
}

.checkbox {
  top: 0.5rem;
  right: 0.5rem;
  opacity: 1;
  color: black;
  transition: color 0.3s ease;
  
}

.img-wrapper.selected img {
  border: 2px solid #ff0000;
}

/* Tablet and Desktop Styles (Medium and Large Screens) */
@media (min-width: 640px) {
  .image-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .first-img img {
    max-width: 400px;
    height: auto;
  }

  .others-image img {
    width: 200px;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .first-img img {
    max-width: 450px;
    max-width: 100%;
    height: 450px;
  }

  .others-image img {
    width: 250px;
    max-width: 100%;
    height: 200px;
  }
}
